{% extends "TabCenterApp/base.html" %}

{% block content %}

    Email: {{ user.email }} <br>
    Name: {{ user.name }} <br>
    <a href="/change-password">Change Password</a>

    <h2>Update Profile</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder={{ user.name }}>
        <button type="submit">Save</button>
    </form>

    If you wish to delete your account, please contact the admin at akirayoshiyama1@gmail.com

{% endblock content %}
