{% extends "TabCenterApp/base.html" %}

{% block content %}

<div class="px-5 py-3">
    <div class="pb-3">
        <h1>Upcoming Tournaments </h1>
    </div>

    <!-- Search filters -->
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm form-floating">
                <select name="format" class="form-select" id="format">
                    <option value="">All</option>
                    <option value="cndf">CNDF</option>
                    <option value="bp">BP</option>
                    <option value="world">World Schools</option>
                    <option value="cross-ex">Cross-Ex</option>
                    <option value="speech">Speech</option>
                </select>
                <label for="format" class="px-4">Format</label>
            </div>
            <div class="col-sm form-floating">
                <select name="location" class="form-select" id="location">
                    <option value="">All</option>
                    <option value="ab">Alberta</option>
                    <option value="bc">British Columbia</option>
                    <option value="ma">Maritimes</option>
                    <option value="pr">Prairies</option>
                    <option value="on">Ontario</option>
                    <option value="qb">Quebec</option>
                </select>
                <label for="location" class="px-4">Location</label>
            </div>
            <div class="col-sm form-floating">
                <select name="year" class="form-select" id="year">
                    <option value="">All</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                </select>
                <label for="year" class="px-4">Year</label>
            </div>
            <div class="col-sm-4 form-floating">
                <input name="search" type="search" class="form-control" id="searchTourn" placeholder="Search">
                <label for="searchTourn" class="px-4">Search</label>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary mb-2" type="submit"><i class="fs-3 bi-search"></i></button>
            </div>
        </div>
    </form>

    <!-- Cards for tournaments -->
    <div class="pt-4">
        {% for x in page_obj %}
        <div class="card my-3" style="border-radius: 1rem;" id="customcard">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'tournament' x.id %}" class="text-decoration-none text-dark"><h4>{{ x.name }}</h4></a>
                            <i class=" fs-6 bi-geo-alt"></i><h6 class="d-inline px-2">{{ x.city }}</h6>
                            {% if x.online %}
                            <div class="container-sm d-inline border border-success" style="border-radius: 0.3rem;" id="onlineyes">Virtual</div>
                            {% endif %}
                            {% if not x.online %}
                            <div class="container-sm d-inline border border-dark" style="border-radius: 0.3rem;" id="onlineno">In-person</div>
                            {% endif %}
                            <div class="container-sm d-inline border border-dark" style="border-radius: 0.3rem;">
                                {% for formatt in x.formats %}
                                    {{ formatt }} /
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col py-2 border-end">
                            <h6 class="text-end">{{ x.startDate }} - {{ x.endDate }}</h6>
                            <h6 class="text-end">${{ x.price }} per Team</h6>
                        </div>
                        <div class="col py-2">
                            {% if x.registration %}
                            <a href="{% url 'registerSelect' x.id %}" class="text-decoration-none text-success"><button class="container-sm btn border border-success py-2" id="customregister">Register</button></a>
                            {% endif %}
                            {% if not x.registration %}
                            <button class="container-sm btn border border-dark py-2" disabled>Registration Closed</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo</a></li>
            {% endif %}
            
            <li class="page-item"><a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
    
            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock content %}
