{% extends "TabCenterApp/base.html" %}

{% block content %}

<h3>My Tournaments </h3>

<button type="button" class="btn btn-primary"><a href="{% url 'createTournament' %}" style="color:white; text-decoration: none;">Create tournament</a></button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for i in tournaments %}
        <tr>
            <td scope="row">{{ i.name }}</td>
            <td>{{ i.location }}</td>
            <td>{{ i.startDate }} - {{ i.endDate }}</td>
            {% if i.approved %}
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#instReg{{ i.id }}">View Registrations</button></td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="regopenclose_id" value="{{ i.id }}">
                        {% if i.registration %}
                        <button type="submit" class="btn btn-danger">Close Registration</button>
                        {% endif %}
                        {% if not i.registration %}
                        <button type="submit" class="btn btn-success">Open Registration</button>
                        {% endif %}
                    </form>
                </td>
                <!-- <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#intEdit{{ i.id }}">Edit</button></t> -->
            {% else %}
                <td><button type="button" class="btn btn-secondary" disabled>Awaiting Approval</button></t>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal for editing tournament
{% for t in tournaments %}
    <div class="modal fade" id="intEdit{{ t.id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Tournament</h5>
                </div>
                <div class="modal-body">
                    <div class="card mb-3" style="border-radius: 0.5rem; background-color: #97d5f1;">
                        <div class="card-body">
                            <div class="container">
                                Only enter values in the fields that you want to modify. Leave everything else blank.
                            </div>
                        </div>
                    </div>
                    <div clas="container-fluid">
                        <form class="row g-3" method="POST">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="tourname" class="form-label">Tournament Name</label>
                                <input type="text" class="form-control" id="tourname" placeholder="Ex. Law Foundation Cup" name="TName">
                            </div>
                            <div class="col-md-7">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Ex. Victoria" name="TCity">
                            </div>
                            <div class="col-md-5">
                                <label for="province" class="form-label">Region</label>
                                <select id="province" class="form-select" name="TProvince">
                                    <option value="nochange"></option>
                                    <option value="ab">Alberta</option>
                                    <option value="bc">British Columbia</option>
                                    <option value="ma">Maritimes</option>
                                    <option value="pr">Prairies</option>
                                    <option value="on">Ontario</option>
                                    <option value="qb">Quebec</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="startDateInput" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="startDateInput" name="TstartDate">
                            </div>
                            <div class="col-md-4">
                                <label for="endDateInput" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="endDateInput" name="TendDate">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="priceTeam">Price (per team)</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">$CAD</span>
                                    <input type="number" step="0.01" min="0" class="form-control" aria-describedby="basic-addon1" id="priceTeam" name="Tprice">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-label">Formats</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" name="cndf">
                                    <label class="form-check-label" for="defaultCheck1">Canadian National Debate Format</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck2" name="bp">
                                    <label class="form-check-label" for="defaultCheck2">British Parliamentary</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck3" name="world">
                                    <label class="form-check-label" for="defaultCheck3">World Schools</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck4" name="cross-ex">
                                    <label class="form-check-label" for="defaultCheck4">Coss-Examination</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck5" name="speech">
                                    <label class="form-check-label" for="defaultCheck5">Speech Events</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <label for="regReqs" class="form-label">Registration Requirements</label>
                                <textarea class="form-control" id="regReqs" rows="5" placeholder="List the requirements for debaters to register and for judges to register/be hired. Requirements might have to do with age, grade, experience, availability, etc." name="regReqs"></textarea>
                            </div>
                            <div class="col-12">
                                <label for="descrp" class="form-label">Tournament Description</label>
                                <textarea class="form-control" id="descrp" rows="5" placeholder="This description will be the first thing people see on your tournament page. We recommend you include the contact details of you and your fellow tournament organizers somewhere in this description." name="descrip"></textarea>
                            </div>
                            <div class="col-12">
                                <label for="inviteLinkInput" class="form-label">Tournament Invitation URL</label>
                                <input type="url" class="form-control" id="inviteLinkInput" placeholder="Ex. https://docs.google.com/document/d/1H46izGPzbB0tjs-5o0wTy5AdYF84bmYJ7_Y-S42mtuk/edit?usp=sharing" name="inviteURL">
                            </div>
                            <div class="col-12">
                                <label for="tabbyLinkInput" class="form-label">TabbyCat Tournament URL</label>
                                <input type="url" class="form-control" id="tabbyLinkInput" placeholder="Ex. https://mdr.calicotab.com/msdt2021j/" name="tabbyURL">
                            </div>
                            <div class="col-12">
                                <input class="form-check-input" type="checkbox" id="virtulornot" name="Tvirtual">
                                <label class="form-check-label" for="virtulornot">Check if Virtual</label>
                            </div>
                            <div class="col-12">
                                <input class="form-check-input" type="checkbox" value="open" id="regopenornot" name="Treg">
                                <label class="form-check-label" for="regopenornot">Check for Open Registration</label>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endfor %}

{% endblock content %}