{% extends "TabCenterApp/base.html" %}

{% block title %}Reset Password Page{% endblock title %}

{% block content %} 
    <h2>Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="code" placeholder="Enter code sent to email">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="New Password">
        <a href="{% url 'account' %}">Back</a>
        <button type="submit">Submit</button>
    </form>
{% endblock content %}